.payment-dropdown {
    width:0 !important;
}
.transactions-page .dropdown-menu .approve {
    color:#0ACF83 !important;
}

.transactions-page .dropdown-menu .cancel {
    color: #FF0000 !important;
}