.header {
    background: rgba(255, 255, 255, 0.1);
    height: 70px;
    padding-top: 20px;
}

.profile {
    text-align: right;
}

.img-profile {
    border: 2px solid #03F387;
    border-radius: 20px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    bottom: -3px;
}